/* @group ----- Typography ----- */

$base-font-size: 12px;
$base-line-height: 18px;

$spacing-unit: $base-line-height;
/* @end */

/* @group ----- Colors ----- */
$background-color: #534741;

$nav-background-color: #404040;
$nav-item-text-color: #FFF;

$search-button-background-color: #006837;
$search-button-advanced-background-color: #006837;
/* @end */