/* @group ----- Typography ----- */

$base-font-size: 1rem;
$base-line-height: 1.5rem;

$spacing-unit: 18px;
/* @end */

/* @group ----- Home Page ----- */
$hero-height: 350px;
/* @end */

/* @group ----- Colors ----- */
$background-color: #534741;

$nav-background-color: #404040;
$nav-item-text-color: #FFF;

$search-button-background-color: #006837;
$search-button-advanced-background-color: #006837;
/* @end */